/.FewCallsMatch.java._trace
/.FewCallsMatcher.java._trace
/.FindCloseMatch.java._trace
/.FindCloseMatcher.java._trace
/.FindCloseableMatch.java._trace
/.FindCloseableMatcher.java._trace
/.FindViewByIdCallMatch.java._trace
/.FindViewByIdCallMatcher.java._trace
/.ImplementorOfIterableMatch.java._trace
/.ImplementorOfIterableMatcher.java._trace
/.ImplementsOrExtendsMatch.java._trace
/.ImplementsOrExtendsMatcher.java._trace
/.IterableVariableMatch.java._trace
/.IterableVariableMatcher.java._trace
/.SlowForLoop.java._trace
/.SlowForLoopConditionMatch.java._trace
/.SlowForLoopConditionMatcher.java._trace
/.SlowForLoopInitMatch.java._trace
/.SlowForLoopInitMatcher.java._trace
/.SlowForLoopMatch.java._trace
/.SlowForLoopMatcher.java._trace
/.SlowForLoopUpdatesMatch.java._trace
/.SlowForLoopUpdatesMatcher.java._trace
/.UnTouchableMatch.java._trace
/.UnTouchableMatcher.java._trace
/.UncachedFindViewById.java._trace
/.UncachedViewMatch.java._trace
/.UncachedViewMatcher.java._trace
/.UnclosedClosable.java._trace
/.UnclosedCloseableMatch.java._trace
/.UnclosedCloseableMatcher.java._trace
/.UnnecessaryPermission.java._trace
/.UnnecessaryPermissionMatch.java._trace
/.UnnecessaryPermissionMatcher.java._trace
/.Untouchable.java._trace
