<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.emftext.refactoring.languages.java.smell.android.UnTouchable"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.UnTouchableQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.UnTouchable">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.UnnecessaryPermission"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.UnnecessaryPermissionQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.UnnecessaryPermission">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.UnclosedCloseable"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.UnclosedCloseableQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.UnclosedCloseable">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.findClose"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.FindCloseQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.findClose">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.findCloseable"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.FindCloseableQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.findCloseable">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.slowForLoop"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.SlowForLoopQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.slowForLoop">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.slowForLoopInit"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.SlowForLoopInitQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.slowForLoopInit">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.slowForLoopUpdates"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.SlowForLoopUpdatesQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.slowForLoopUpdates">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.slowForLoopCondition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.SlowForLoopConditionQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.slowForLoopCondition">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.iterableVariable"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.IterableVariableQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.iterableVariable">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.implementorOfIterable"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.ImplementorOfIterableQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.implementorOfIterable">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.ImplementsOrExtends"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.ImplementsOrExtendsQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.ImplementsOrExtends">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.uncachedView"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.UncachedViewQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.uncachedView">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.fewCalls"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.FewCallsQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.fewCalls">
      </matcher>
   </extension>
   <extension
         id="org.emftext.refactoring.languages.java.smell.android.findViewByIdCall"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.emftext.refactoring.languages.java.smell.android.util.FindViewByIdCallQuerySpecification$Provider"
            id="org.emftext.refactoring.languages.java.smell.android.findViewByIdCall">
      </matcher>
   </extension>

</plugin>
