/.FewCallsProcessor.java._trace
/.FewCallsQuerySpecification.java._trace
/.FindCloseProcessor.java._trace
/.FindCloseQuerySpecification.java._trace
/.FindCloseableProcessor.java._trace
/.FindCloseableQuerySpecification.java._trace
/.FindViewByIdCallProcessor.java._trace
/.FindViewByIdCallQuerySpecification.java._trace
/.ImplementorOfIterableProcessor.java._trace
/.ImplementorOfIterableQuerySpecification.java._trace
/.ImplementsOrExtendsProcessor.java._trace
/.ImplementsOrExtendsQuerySpecification.java._trace
/.IterableVariableProcessor.java._trace
/.IterableVariableQuerySpecification.java._trace
/.SlowForLoopConditionProcessor.java._trace
/.SlowForLoopConditionQuerySpecification.java._trace
/.SlowForLoopInitProcessor.java._trace
/.SlowForLoopInitQuerySpecification.java._trace
/.SlowForLoopProcessor.java._trace
/.SlowForLoopQuerySpecification.java._trace
/.SlowForLoopUpdatesProcessor.java._trace
/.SlowForLoopUpdatesQuerySpecification.java._trace
/.UnTouchableProcessor.java._trace
/.UnTouchableQuerySpecification.java._trace
/.UncachedViewProcessor.java._trace
/.UncachedViewQuerySpecification.java._trace
/.UnclosedCloseableProcessor.java._trace
/.UnclosedCloseableQuerySpecification.java._trace
/.UnnecessaryPermissionProcessor.java._trace
/.UnnecessaryPermissionQuerySpecification.java._trace
