<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.emftext.refactoring.smell.registry.ui.calculation">
      <structureCalculation
            smellMessage="A WakeLock should be acquired with a timeout."
            description="Transforms acquire statement to use timeout."
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/durableWakeLock.eiq"
            patternName="durableWakeLock">
      </structureCalculation>
      <structureCalculation
            smellMessage="Override Implement the onLowMemory() method"
            description="Lets the activity class override onLowMemory() method."
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/noMemoryResolver.eiq"
            patternName="noMemoryResolver">
      </structureCalculation>
      <structureCalculation
            smellMessage="Background services and broadcast recievers should not call interrupting tasks."
            description="Removes the toast statement from background task"
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/interruptingFromBackground.eiq"
            patternName="interruptingFromBackground">
      </structureCalculation>
      <structureCalculation
            smellMessage="The inexact alarm manager should be used if exact execution is not needed."
            description="Replaces the exact AlarmManager with an inexact"
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/rigidAlarmManager.eiq"
            patternName="rigidAlarmManager">
      </structureCalculation>
      <structureCalculation
            smellMessage="The IMEI should not be used for security reasons."
            description="Uses a unique generated id for tracking the hardware id."
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/trackingHardwareId.eiq"
            patternName="trackingHardwareId">
      </structureCalculation>
      <structureCalculation
            smellMessage="For Iterable types, a foreach loop should be used to iterate over the Collection"
            description="For Iterable types, a foreach loop should be used to iterate over the Collection"
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/slowForLoop.eiq"
            patternName="slowForLoop">
      </structureCalculation>
      <structureCalculation
            smellMessage="If findViewById is called often, the queries should be cached."
            description="If findViewById is called often, the queries should be cached."
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/uncachedFindViewById.eiq"
            patternName="uncachedView">
      </structureCalculation>
      <structureCalculation
            smellMessage="The object is closable, but the close() method cannot be found."
            description="Unclosed closable"
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/unclosedClosable.eiq"
            patternName="org.emftext.language.java.refactoring.smell.android.structureCalculation3">
      </structureCalculation>
      <structureCalculation
            description="An element is too small"
            patternName="unTouchable"
            patternResource="queries/org/emftext/refactoring/languages/java/smell/android/untouchable.eiq"
            smellMessage="This element is too small">
      </structureCalculation>
   </extension>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/AquireWakeLockWithTimeout.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/OverrideOnLowMemory.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/RemoveToastFromBackground.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/UseInexactAlarmManager.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/UseUniqueGeneratedId.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Transform acquire statement to use timeout"
            postprocessor="org.emftext.refactoring.languages.java.smell.android.refactorings.AcquireWakeLockWithTimeout"
            nsUri="http://www.emftext.org/java">
      </postprocessor>
      <postprocessor
            mapping_name="Let activity class override onLowMemory() method"
            postprocessor="org.emftext.refactoring.languages.java.smell.android.refactorings.OverrideOnLowMemoryResolver"
            nsUri="http://www.emftext.org/java">
      </postprocessor>
      <postprocessor
            postprocessor="org.emftext.refactoring.languages.java.smell.android.refactorings.RemoveInterrupFromBackground"
            mapping_name="Remove toast statement from background task"
            nsUri="http://www.emftext.org/java">
      </postprocessor>
      <postprocessor
            mapping_name="Replace exact with inexact AlarmManager"
            postprocessor="org.emftext.refactoring.languages.java.smell.android.refactorings.SetInexactAlarmManager"
            nsUri="http://www.emftext.org/java">
      </postprocessor>
      <postprocessor
            mapping_name="Use unique generated id for tracking hardware id"
            postprocessor="org.emftext.refactoring.languages.java.smell.android.refactorings.UseUUID"
            nsUri="http://www.emftext.org/java">
      </postprocessor>
   </extension>

</plugin>
